<p>
  <strong>Name:</strong>
  <%= @competition.name %>
</p>

<p>
  <strong>Is league:</strong>
  <%= @competition.is_league %>
</p>

<%= link_to 'Edit', edit_competition_path(@competition), class: "btn btn-warning btn-xs" %> |
<%= link_to 'Back', competitions_path, class: "btn btn-primary btn-xs" %>
